#about{background-color: #FF6699;
                   color: #ffffff;}
#body{width: 50%;}

#profile{
    -webkit-transition: background-color 2s;
}
#contact {
       margin-left: 20%;
       margin-right: 20%;
       margin-bottom: 5%;
       padding: 5px 5px;
    color: aliceblue;
}
#contactbox{
           background-color:;
           opacity: 0.5;
           background-image: url(contact.jpg);
}

#footer{
    background-color: ;
    color: #666;
}

input{color: blue;
      padding: 5px 5px;
      background-color: yellow;
      border: 5px solid white;
      margin-bottom: 5px;
    border-left-width: 5px 5px;
      -webkit-box-shadow: 13px 17px 31px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 13px 17px 31px 0px rgba(0,0,0,0.75);
box-shadow: 13px 17px 31px 0px rgba(0,0,0,0.75);
      
      }