#body{cursor: url(https://gifprint.s3.amazonaws.com/p/gif/56316/39cb1e90c7d901332b0236c13a486f67.gif);}

@media screen and (min-width: 480px) {
    *{
        font-family: 'Nunito', sans-serif;
    }
    
}
    
#about{ color: cyan;
        background-image: url("http://www.printawallpaper.com/upload/designs/india_vector_detail.jpg");
    background-attachment: fixed;}

#about1{
    background-color: rgba(0, 0, 0, 0.7);
}


#body{width: 50%;
     font-weight: bolder;}


#contact {
   margin-left: 20%;
  margin-right: 20%;
 margin-bottom: 5%;
    color: aliceblue;
    height: 600px;
    padding-top: 15%;
}


#intro{
    background-image: url("");
    
}


#profile{
    background-color: 0rgba(168, 1, 123, 0.5);

}



#contactbox{
           background-color:#111;
           opacity: .9;
           background-image: url(contact.jpg);
           background-attachment: fixed;
}



#footer{
    background-color: rgba(168, 1, 123, 0.5);
    color: #666;
}



#carousel{
color: #ffffff;
}



input{           color: blue;
               padding: 5px 5px;
      background-color: yellow;
                border: 5px solid white;
         margin-bottom: 5px;
     border-left-width: 5px 5px;
    -webkit-box-shadow: 13px 17px 31px 0px rgba(0,0,0,0.75);
       -moz-box-shadow: 13px 17px 31px 0px rgba(0,0,0,0.75);
            box-shadow: 13px 17px 31px 0px rgba(0,0,0,0.75);
            border-radius: 3px 3px;
      
      }

input:hover { 
    background-color: white;
    border: 5px solid yellow;
}





/*#first{
    background-color: rgba(0, 0, 0, 0.4);
    height: 98.4%;
    width: 100%;
}*/